<div class='slide slide1'>

  <div class='overlay'></div>
  <div class='inner'>
    <h2 >We asked Ryan for a honest review about the boot</h2>
    <p>
      Ryan Allen was our first candidate to test the TCX boot. We asked Ryan for a honest review about the boot, what he likes, dislikes and what can be improved. We didn’t preach to Ryan all the benefits of the boot etc, we were interested in whether he would find these out for himself.
    </p>
    <p>
      The TCX boot features some cool features from a sole made of Michelin rubber that helps the rider feel more comfortable on the pegs. The sole is more durable instead of being chewed up by footpegs in record time, a rubber heat guard offers superior grip on the bike’s frame, and easy to use buckles for when you have your gloves on!

    </p>
  </div>
</div>
