<div class='slide slide5' >
  <div class='overlay'></div>
  <div class='inner'>
    <h2>Anything else you want to add?</h2>
    <p>
      Yeah one thing I’ve liked is the attention to detail in the ankle support, the whole area feels solid and gives you confidence. One thing that has been a pain before with boots is the buckle system and TCX have got this down to a tee, they are no effort to use even when wearing knee pads. Also what I have noticed is how long the boots seem to be lasting with from being eaten by the footpegs.
    </p>
  </div>
</div>
